body{
  display: flex;
  min-height: 100vh;
  padding: 0 0.5rem;
  align-items: center;
  justify-content: center;
  background: #54648d;
}
.container{
  width: 450px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}
.container h2{
  font-weight: 600;
  font-size: 1.31rem;
  padding: 1rem 1.75rem;
  border-bottom: 1px solid whitesmoke ;
}
.wrapper{
  margin: 1.25rem 1.75rem;
}
.wrapper .input-box{
  position: relative;
}
.input-box input{
  width: 85%;
  height: 53px;
  outline: none;
  font-weight: 500;
  border-radius: 4px;
  font-size: 1.06rem;
  pointer-events: none;
  letter-spacing: 1.4px;
  border: 1px solid grey;
  padding: 0 2.85rem 0 1rem;
}
.input-box span{
  right: 13px;
  z-index: 999;
  user-select: none;
  position: absolute;
  line-height: 53px;
  cursor: pointer;
  color: grey;
}
.input-box span:hover{
  color: #5d90ea;
}
.wrapper .pass-indicator{
  display: flex;
  height: 4px;
  width: 100%;
  position: relative;
  background: whitesmoke;
  margin-top: 0.75rem;
  border-radius: 25px;
}
.pass-indicator::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 0%;
  border-radius: inherit;
  transition: width 0.3s ease;
}
.pass-indicator#weak::before{
  width: 20%;
  background: red;
}
.pass-indicator#medium::before{
  width: 50%;
  background: #ffac00;
}
.pass-indicator#strong::before{
  width: 100%;
  background: #00a800;
}
.wrapper .pass-length{
  margin: 1.56rem 0 1.25rem;
}
.pass-length .details{
  display: flex;
  justify-content: space-between;
}
.pass-length input{
  width: 100%;
  height: 5px;
  margin-top: 0.63rem;
  -webkit-appearance: none;
  background: grey;
  border-radius: 15px;  
}
.pass-length input::-webkit-slider-thumb{
  appearance: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
  background: white;
  border: 3px solid #5d90ea;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
.pass-length input::-moz-range-thumb{
  height: 13px;
  width: 13px;
  cursor: pointer;
  border-radius: 50%;
  background: whitesmoke;
  border: 3px solid #5d90ea;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
.pass-settings .options{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.options .option{
  display: flex;
  align-items: center;
  width: calc(100% / 2);
  margin-bottom: 1rem;
}
.options .option:nth-child(even){
  width: auto;
  margin-left: 0.6rem;
}
.options .option:nth-child(1) input{
  opacity: 0.8;
}
.options .option:nth-child(1){
  pointer-events: none;
}
.options .option input{
  height: 16px;
  width: 16px;
  cursor: pointer;
  accent-color: #5d90ea;
}
.options .option label{
  color: gray;
  cursor: pointer;
  padding-left: 0.625rem;
}
.options .option label b{
  font-weight: normal;
  font-family: "Open Sans";
}
.wrapper .generate-btn{
  width: 100%;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.94rem 0;
  font-size: 1.06rem;
  border-radius: 5px;
  background: #5d90ea;
  text-transform: uppercase;
  margin: 0.94rem 0 1.3rem;
  transition: all 0.3s ease;
}
.generate-btn:hover{
  background: #54648d;
}

@media screen and (max-width: 600px) {
  .container h2{
    padding: 1rem 1.5rem;
  }
  .wrapper{
    margin: 1.25rem 1.5rem;
  }
  .options .option{
    margin-bottom: 1.1rem;
  }
  .options .option label{
    padding-left: 0.42rem;
  }
  .wrapper .generate-btn{
    font-size: 1rem;
    margin: 0.8rem 0 1rem;
  }  
}
